* {
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Cabin', Arial, sans-serif;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.main {
    margin: 0;
}

.navbar {
    color:white;
    font-size: 20px;
    position: fixed;
    margin: 0;
    width: 100%;
    padding: 2px;
    /* background-color: rgba(73, 73, 73, 0.9); */
    z-index: 4;
}

.navbar li {
    padding: 0.5rem 2.5%;
    float: right;
    list-style-type: none;
    
}

.fa-home {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: rgba(245, 245, 245, 0.733);
    font-size: 20px;
}

a:hover {
    color:white;
}

@media screen and (min-width: 600px) {
    h1 {
        text-align: left;
        font-size: 70px;
        padding: 200px 50px 50px 50px;
        margin: 0;
    }
    
    h2 {
        text-align: left;
        font-size: 30px;
        padding: 0 0 0 50px;
    }
}

@media screen and (max-width: 599px) {
    h1 {
        text-align: center;
        font-size: 50px;
        padding:  200px 40px 40px 40px;
        margin: 0;
    }
    
    h2 {
        text-align: center;
        font-size: 30px;
    }
}

.banner {
    color: hsl(0, 0%, 77%);
    text-shadow: 0.5px 0.5px 0 #000;
    height: 600px;
    background-image: url(../images/night-sky.png);
    background-position: center;
    background-size: cover;
    min-width: 400px;
}


.welcome {
    text-align: center;
    font-size: 23px;
    padding: 40px 0;
    margin: 20px 20%;
    border-bottom: 2px solid black;
    animation-delay: 0.8s;
}

.aboutWelcome {
    text-align: center;
    font-size: 28px;
    padding: 40px 0;
    margin: 20px 20%;
    border-bottom: 2px solid black;
    animation-delay: 0.8s;
}

footer {
    font-family: 'Thasadith', san-serif;
    color: white;
    text-align: right;
    background-color: hsl(215, 69%, 6%);
    margin: 0;
    padding: 30px;
    position: relative;
    z-index: 5;
    display: grid;
    grid-template: 100px 100px / 150px 1fr 300px;
    grid-template-areas: 
        '. . .'
        'copyright . contact'
}

.copyright {
    grid-area: copyright;
    text-align: left;
}

.icons {
    grid-area: contact;
    display: flex;
    justify-content: flex-end;
}

.githubLink {
    color: rgb(49, 49, 49);
    font-size: 40px;
    transition: 0.5s color ease;
    margin: 20px;
}

.twitterLink {
    color: rgb(49, 49, 49);
    font-size: 40px;
    transition: 0.5s color ease;
    margin: 20px;
}

img {
    width: 80%;
}

.header {
    animation-delay: 0.5s;
}

.subHeader {
    animation-delay: 0.7s;
}

.scrolledStyle {
    background-color: hsl(215, 69%, 6%);
}


.bullets {
    animation-delay: 0.9s;
}
.bullets {
    display: grid;
    margin: 5px;
    grid-template: 1fr 1fr 1fr  / 1fr 1fr;
    grid-template-areas: 
    'codelines concise'
    'responsive crane'
    'laptop clean';
    justify-items: center;
    align-items: center;
    text-align: 'center';
}

.contactBullets {
    text-align: center;
    font-size: 25px;
    padding: 15px;
    color: hsl(0, 0%, 30%)
}

/* @media screen and (min-width: 600px) {
    .bullets {
        display: grid;
        margin: 5px;
        grid-template: 1fr 1fr 1fr  / 1fr 1fr;
        grid-template-areas: 
        'codelines concise'
        'responsive crane'
        'laptop clean';
        justify-items: center;
        align-items: center;
    }  
} */
.codelines {
    grid-area: codelines;
}

.concise {
    grid-area: concise;
    text-align: center;
    margin: 15px;
}

.crane {
    grid-area: crane;
    transition: 0.5s filter;
}

.crane:hover {
    filter: blur(4px);
}

.responsive {
    grid-area: responsive;
    text-align: center;
    margin: 15px;
}

.laptop {
    grid-area: laptop;
}

 .clean {
     grid-area: clean;
     text-align: center;
     margin: 15px;
 }

/* @media screen and (max-width: 500px) {
    .bullets {
        display: grid;
        margin: 5px;
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
        grid-template-areas: "codelines" "concise" "crane" "responsive" "laptop" "clean";
        justify-items: center;
        align-items: center;
    }
    
 } */

 a {
     padding: 0;
     margin: 0;
 }

 .projectsBody {
     display: flex;
     margin: 50px;
     flex-wrap: wrap;
     justify-content: center;
 }

 .project {
     background-color: grey;
     width: 500px;
     height: 300px;
     margin: 10px;
     position: relative;

 }

 .project:hover #ncNewsImg {
    filter: blur(4px);
 }

 .projText {
     opacity: 0;
     transition: 0.5s opacity ease;
     text-align: center;
     padding: 5px;
     position: absolute;
     z-index: 2;
     font-size: 25px;
     text-shadow: 1px 1px 2px black; 
 }

.project:hover .projText {
     opacity: 1;
 }

 #ncNewsImg {
     position: absolute;
     z-index: 1;
     height: 100%;
     width: 100%;
     transition: 0.5s filter;
     background-image: url('../images/ncnewssnapshot.png');
     background-size: 120%;
 }

 #lomo {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    transition: 0.5s filter;
    background-image: url('../images/snails.jpg');
    background-size: 120%;
}

.project:hover #lomo {
    filter: blur(4px);
 }

 #gomoku {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    transition: 0.5s filter;
    background-image: url('../images/gaudi.jpg');
    background-size: 120%;
}

.project:hover #gomoku {
    filter: blur(4px);
 }
 
 #speakingOut {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    transition: 0.5s filter;
    background-image: url('../images/ball.jpg');
    background-size: 120%;
}

.project:hover #speakingOut {
    filter: blur(4px);
 }
